.page[b-8l9l2y9xmt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8l9l2y9xmt] {
    flex: 1;
}

.sidebar[b-8l9l2y9xmt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

@media (min-width: 768px) {
    .page[b-8l9l2y9xmt] {
        flex-direction: row;
    }

    .sidebar[b-8l9l2y9xmt] {
        width: 70px;
        min-width: 70px;
        position: sticky;
        top: 0;
    }
}