<button
    class="px-2 py-1 font-bold focus:outline-none transition flex items-center gap-1 rounded-lg border border-gray-300 bg-white text-gray-800 hover:bg-gray-100 h-10 shadow"
    @onclick="OnClick">
    @ChildContent
    <ArrowDropDownIcon class="w-6 h-6" />
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}