<button
    class="px-4 py-1 font-bold focus:outline-none transition flex items-center gap-3 rounded-lg border border-gray-300 bg-white text-gray-800 hover:bg-gray-100 h-10 shadow"
    @onclick="OnClick">
    @ChildContent
    <svg width="16" height="16" viewBox="0 0 20 20" fill="currentColor">
        <polygon points="5,8 10,13 15,8" />
    </svg>
</button>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
}