.n-up-thumbnail-card {
    position: relative;
    width: 100%;
    height: 100%;
}

.n-up-thumbnail-card .group {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}

/* ホバー時に軽く拡大 */
.n-up-thumbnail-card .group:hover {
    z-index: 1;
}