/* ビューポート側の振る舞い（横スクロールを内側に閉じる） */
#preview-zoom-viewport {
    overflow: scroll;
    position: relative;
    cursor: default;
}

/* svgオーバレイ上は基本がccosshairなのでここで一時上書き */
#preview-zoom-viewport.pan-active,
#preview-zoom-viewport.pan-active svg{
    cursor: grab;
}
#preview-zoom-viewport:not(.pan-active) svg rect{
    cursor: move;
}
#preview-zoom-viewport:not(.pan-active) canvas,
#preview-zoom-viewport:not(.pan-active) svg {
    cursor: crosshair;
}

#preview-zoom-viewport.pan-active.panning,
#preview-zoom-viewport.panning,
#preview-zoom-viewport.pan-active.panning svg, 
#preview-zoom-viewport.pan-active.panning svg rect {
    cursor: grabbing !important;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}