.select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  padding-right: 2.5rem;
}

/* Firefox 補正 */
.select-no-arrow:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 currentColor;
}