/* 矢印のスタイルはTailwindでの再現が難しい */
.tooltip-arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    background: inherit;
    border: inherit;
    transform: rotate(45deg);
}

.tooltip-popup[data-placement^="top"] .tooltip-arrow {
    bottom: -6px;
    left: 50%;
    margin-left: -6px;
    border-top: none;
    border-left: none;
}

.tooltip-popup[data-placement^="bottom"] .tooltip-arrow {
    top: -6px;
    left: 50%;
    margin-left: -6px;
    border-bottom: none;
    border-right: none;
}

.tooltip-popup[data-placement^="left"] .tooltip-arrow {
    right: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: none;
    border-bottom: none;
}

.tooltip-popup[data-placement^="right"] .tooltip-arrow {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-right: none;
    border-top: none;
}