@inherits LayoutComponentBase
@inject IJSRuntime JS

<div @ref="fadeRef" class="@fadeClass transition-all duration-700 opacity-0 translate-y-8">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    private ElementReference fadeRef;
    private string fadeClass = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("fadeInOnScroll.observe", fadeRef);
        }
    }
}